.parent {
    background-color: lightpink;
    padding: 1rem;
    display: flex;
    gap: 1em;
    margin: 1em;
    min-height: 300px;
    justify-content: center;
    flex-wrap: nowrap;
}

#vertical {
    flex-direction: column;
    display: flex;
}

.child {
    padding: 1em;
    background-color: aqua;
}